<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!--  Parametros de contexto -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <description>Declares the separator char for ids (default is ':')</description>
        <param-name>javax.faces.SEPARATOR_CHAR</param-name>
        <param-value>:</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>
    
    
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!--  Servlets -->
    <servlet>
        <servlet-name>CargaLog4jReactivo</servlet-name>
        <servlet-class>co.gov.invima.util.CargaLog4jReactivo</servlet-class>
        <init-param>
            <param-name>log4jPropertiesFile</param-name>
            <param-value>/WEB-INF/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    
    <!--  Filtros -->
    <filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>co.gov.invima.filter.SetCharacterEncodingFilter</filter-class>
        <init-param>
           <param-name>encoding</param-name>
           <param-value>UTF-8</param-value>
        </init-param>
     </filter>
    <filter-mapping>
       <filter-name>SetCharacterEncodingFilter</filter-name>
       <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FiltroPermisosRoles</filter-name>
        <filter-class>co.gov.invima.util.FiltroPermisosRoles</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroPermisosRoles</filter-name>
        <url-pattern>/faces/pages/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>    
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <filter>
       <filter-name>PrimeFaces FileUpload Filter</filter-name>
       <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!--  Filtro de Cross Site Scripting y SQL Injection -->
    <filter>
        <filter-name>XSS</filter-name>
        <filter-class>co.gov.invima.util.FiltroSeguridadXSS_SQLI</filter-class>
        <init-param>
            <param-name>compressionThreshold</param-name>
            <param-value>10</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>XSS</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <filter>
       <filter-name>CharacterEncodingFilter</filter-name>
       <filter-class>co.gov.invima.util.CharacterEncodingFilter</filter-class>
       <init-param>
          <param-name>encoding</param-name>
          <param-value>UTF-8</param-value>
       </init-param>
    <init-param>
        <param-name>forceEncoding</param-name>
        <param-value>true</param-value>
    </init-param>       
    <init-param>
            <param-name>ignore</param-name>  
            <param-value>false</param-value>  
    </init-param>
    </filter>
    <filter-mapping>
       <filter-name>CharacterEncodingFilter</filter-name>
       <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>    
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!--  Filtron anti Click Jacking -->
    <filter>
        <filter-name>XFrameOptionsFilter</filter-name>
        <filter-class>co.gov.invima.util.XFrameOptionsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XFrameOptionsFilter</filter-name>
        <url-pattern>/faces/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>    
    
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    
    <!--  Listeners -->
    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    
    <!--Control de errores -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ControladorErrores</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/ControladorErrores</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/ControladorErrores</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/ControladorErrores</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/ControladorErrores</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/ControladorErrores</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ControladorErrores</location>
    </error-page>
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    
    <!--  Sesión -->
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <welcome-file-list>
        <welcome-file>/faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
    <!-- ************************************************************************ -->
</web-app>
