.glossymenu, .glossymenu li ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%; /*WIDTH OF MAIN MENU ITEMS*/
}

.glossymenu li{
    position: relative;
}

.glossymenu li a{
    background-color: #dde9c1;
    font-size:1.1em; 
    color: #333333;
    display: block;
    width: auto;
    padding: 0.4em 0; 
    border-bottom: 0.063em solid #999999; 
    text-decoration: none;
    padding-left: 0.7em; 
}

.glossymenu li ul{ /*SUB MENU STYLE*/
                   position: absolute;
                   width: 16.7em;  /*WIDTH OF SUB MENU ITEMS*/
                   left: 0.063em; 
                   top: 0;
                   display: none;
                   border:#165500 solid 0.063em; 
}

.glossymenu li ul li{
    float: left;
}

.glossymenu li ul a{
    background-color: #dde9c1;
    font-size:1.1em; 
    color: #333333;
    display: block;
    width: 15.0em;
    padding: 0.063em 0; 
    border-bottom: 0.063em solid #999999;
    text-decoration: none;
    padding-left: 0.063em;
}

.glossymenu .arrowdiv{
    position: absolute;
    width: 2.5em;
    right: 0.2em;
    background: transparent url(MostrarGrafica?image=arrowMenu.gif) no-repeat center right;
}

.glossymenu li a:visited, .glossymenu li a:active{
    color: #333333;
}

.glossymenu li a:hover{
    background-color: #c5d7af;
    color: #333333;
}

/* Holly Hack for IE \*/
* html .glossymenu li { float: left; height: 1%; }
* html .glossymenu li a { height: 1%; }
/* End */